[class^="icon-"], [class*=" Icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Icon {
	flex-shrink: 0;

	&-bulb {
		&:before {
			content: $icon-bulb;
		}
	}

	&-eye {
		&:before {
			content: $icon-eye;
		}
	}

	&-eyeBlocked {
		&:before {
			content: $icon-eye-blocked;
		}
	}

	&--tarnishedSilver {
		color: $color-tarnished-silver;
	}

	&--small {
		font-size: 16px;
	}

	&--medium {
		font-size: 20px;
	}

	&--large {
		font-size: 24px;
	}

	&--spacedRightSmall {
		margin-right: 0.25em;
	}
}
