/**
 * Colors
 */
$color-black: #000000;
$color-white: #ffffff;
$color-boysenberry-shadow: #F2F2FA;
$color-ocean-boat-blue: #0074C1;
$color-glacier-grey: #cbccce;

/**
 * Breakpoints
 */
$breakpoints: (
	small: 320px,
	medium: 600px,
	large: 940px
);

/**
 * Module variables
 */
$gridSpacing: (
	small: 2px,
	medium: 4px,
	large: 8px
);

/**
 * Fonts
 */
$icomoon-font-path: "/fonts" !default;

$icon-bulb: "\e900";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1"; 